.Advertising {
  position: relative;
  width: 100%;
  height: 100%;
  color: snow;
}
/* box */
.Advertising > section {
  position: relative;
  border-bottom: 8px solid #222;
  padding: 70px 45px;
  margin-bottom: 0;
  background: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Advertising > section .advertise {
  max-width: 1100px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* img */
.Advertising > section .advertise img {
  height: auto;
  border: 0;
  margin-bottom: 10px;
}
/* text con */
.Advertising > section .advertise .text {
  height: 100%;
  flex: 0 1 auto;
}
/* text */
.Advertising > section .advertise .text h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin: 0 0 0.4em;
  margin-bottom: 0.5rem;
}
.Advertising > section .advertise .text h2 {
  font-size: 1.625rem;
  font-weight: 400;
}