/* Css Reset */
* {
  margin: 0;
  padding: 0;
}
/* body */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
}
body[data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}
/* Media Quaries */
@media (max-width: 280px) {
  body {
    display: none;
  }
}
/* loading */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00796b;
  z-index: 10;
}
.center-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-ring {
  width: 100px;
  height: 100px;
  border-top: 4px solid #bdbdbd;
  border-bottom: 4px solid #bdbdbd;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
  animation: rototering 2s linear infinite;
}
.middle-ring {
  width: 80px;
  height: 80px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
  animation: rototering 2s linear infinite reverse;
}
.inner-ring {
  width: 60px;
  height: 60px;
  border-top: 4px solid #bdbdbd;
  border-bottom: 4px solid #bdbdbd;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
  animation: rototering 2s linear infinite;
}
.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b2dfdb;
  position: absolute;
  animation: rototering 2s linear infinite;
}
@keyframes rototering {
  0% {
    transform: rotate(0deg) scale(0.3);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}
